Package: com.longmen06.github.io.icon
Version: 6.5
Section: System
Essential: yes
Maintainer: Long Mến
Description: Biểu tượng Cydia cho kho lưu trữ Long Mến
Architecture: iphoneos-arm
Name: Icon Repo Long Mến
Author: Long Mến❤️
Sileodepiction: Biểu tượng Cydia cho kho lưu trữ Long Mến
Depiction: Biểu tượng Cydia cho kho lưu trữ Long Mến
Icon: file:///Applications/Cydia.app/Sections/hethongglongmen.png
